.card-item {
    padding: 1em;
    text-align: center;
    width: 20rem;
    border: 0.15em solid #ACA4A4;
    background-color: #ACA4A4;
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px #ACA4A4; */
}

.card-item img {
    margin-top: 1rem;
}

.card-item .card-title {
    color: white;
    font-size:  1.5em;
    margin-top: 0.5em;
    font-family: 'Trebuchet MS';
    letter-spacing: 0.15ch;
}

.card-item p {
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.card-item a {
    color:#00cc99;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    padding: 10px, 0px;
}

.card-item a:hover {
    color: #8d4cd6;;
}