.item-list-container {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

.item-list-container h1 {
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.item-list-container .item-list-category {
    text-align: center;
    text-transform: capitalize;
}