.carousel-container {
    padding-top: 4rem;
    background: black;
    /* background: #B3AC93; */
    /* background: linear-gradient(to bottom right, black, darkgray); */
    /* background: linear-gradient(180deg, black, #787777); */
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item {
    height: 25rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    border-radius: 100%;
}

.carousel-item > img {
    width: auto;
    margin: auto; 
    display: block;
    transform: translateY(-20%);
}

.carousel-caption h3 {
    text-align: left;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: xxx-large;
    letter-spacing: 0.1rem;
}

.carousel-caption p {
    text-align: left;
    font-family: 'Segoe UI';
    font-size: larger;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}